/* THIS CSS FILE IS FOR THE PLACEMENT OF THE COMPONENTS  
WIDTH, HIGHT, MARGIN, BORDER, PADDING...COLOR, TEXT ALIGNMENT, BACKGROUNDS, AND HOVERING DONE IN THE PAGE STYLES, FOR MORE SPECIFIC STYLES ARE DONE INLINE ON THE PAGE.
top right bottom left
*/
/* PAGE GRID: Full viewport width and height, 36 columns and rows */
.Page_Grid {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  grid-template-rows: repeat(36, 1fr);
  gap: 1px;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  background-color: blueviolet;
  /* Border to visualize the grid */
}

/* MAIN CONTENT: Blue background, spans columns 3 to 10 and rows 1 to 13 */
.Main_Content {
  grid-column: 6 / 28;
  grid-row: 4 / 35;
  background-color: pink;
  border: 1px solid black;
}

/* MEDIA CONTENT: Red background, spans columns 1 to 3 and rows 1 to 8 */
.Media_Content {
  grid-column: 28 / 38;
  grid-row: 4 / 15;
  background-color: red;
  border: 1px solid black;
}

.t_NavBar{      /*need to adjust to make use of the page grid */
  grid-column: 4 / 38;
  grid-row: 1 / 4;
}

.l_NavBar{
  grid-column: 1 / 6;
  grid-row: 4 / 36;
  background-color: black;
 color: white !important;
}


.b_NavBar{
  grid-column: 1 /38; 
  grid-row: 35 /38;
  
}

/* STATS CONTENT: Green background, spans columns 10 to 13 and rows 1 to 8 */
.Stats_Content {
  grid-column: 28 / 38;
  grid-row:   15 / 35;
  background-color: green;
  border: 1px solid black;
}

.UGC_Card{

  display: inline-block;
  white-space: nowrap;
  animation: moveCard 10s linear infinite;
  padding: 20px;
  border-radius: 5px;
  background-color: chartreuse;
}

@keyframes moveCard {
  0% { transform: translateX(100%);
  }
  100%{
     transform: translateX(-100%);
  }
}

.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
.pagination button:disabled {
    background-color: green;
    cursor: not-allowed;
  }
  